In [3]:
#pandas is a library and it contains the function related to the database
import pandas as pd

In [4]:
#dataset is called read_csv (salary data csv ).pd database
dataset=pd.read_csv("Salary_Data.csv")

In [6]:
dataset# type dataset and get the information of data set(model creation first step datacollection)

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [7]:
independent=dataset[["YearsExperience"]]#split the input data from dataset this problem dataset called as years of expreience
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [8]:
#this is splited output dataset(salary)
dependent=dataset[["Salary"]]
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [9]:
#from sklearn library modelselection function is called and import splited train and test dataset assign
#variable for splited train and test datas
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent, test_size=0.30,random_state=0)

In [10]:
#from sklearn library linearmodel function is called and import linear regression
#assign variable name regressor to linearregression and use fitfunction in x,y trainset
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [11]:
#weight function is checked by coef_ variable
weight=regressor.coef_
weight

array([[9360.26128619]])

In [12]:
#bais function is checked by intercept_ variable
bais=regressor.intercept_
bais

array([26777.3913412])

In [13]:
#create y_pred variable cross checked the prediction of x_test evalution metrics
#include train set  value in test set value
y_pred=regressor.predict(x_test)

In [14]:
#create r2_score named variable pass actual output and predicted output to r2_score variable find evalution metrics
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [15]:
#find r_score if it is nearly 1 it is good model
r_score

0.9740993407213511

In [16]:
#use pickle for save file
import pickle 
filename="finalized_model_linear.sav"

In [17]:
#'wb ' open the file and regressor model dump in pickle
pickle.dump(regressor,open(filename,'wb'))

In [20]:
#after save file load the model and predict given the model find the result
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))
result=loaded_model.predict([[13]])

C:\ANACONDA\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [21]:
#get the finalized result
result

array([[148460.78806172]])